# dependencies
node_modules/
**/node_modules/

# Next.js build
frontend/.next/
frontend/out/
.next/

# NestJS build
backend/dist/
*.tsbuildinfo

# Environment files
.env
.env*.local
*.env
frontend/.env
backend/.env

# Logs & temp
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.vscode/
.idea/
